<launch>

    
	<include file="src/pointgrey_camera_driver/pointgrey_camera_driver/launch/camera.launch" >
		<arg name="camera_name"   value="right_camera" />
		<arg name="camera_serial" value="15220447"     />
	</include>
	
	<include file="src/pointgrey_camera_driver/pointgrey_camera_driver/launch/camera.launch" >
		<arg name="camera_name"   value="left_camera"  />
		<arg name="camera_serial" value="15220461"     />
	</include>
	
	<!--<node pkg="image_view" type="image_view" name="right_camera_image_view" args="image:=/right_camera/image_color" />-->

	<!-- <node pkg="image_view" type="image_view" name="left_camera_image_view" args="image:=/left_camera/image_color" /> -->

</launch>